<div class="collection-wrapper">
  <div class="top-holder">
    <div class="collection-name">
      <span class="name"><h5 data-name></h5></span> 
      <div class="add-elements">
        <a href="javascript:;" class="lightbox" data-link="add-new" data-type="ajax" data-src="/templates/modals/modal-add-new.html">
          <span class="icon-add"></span> <h6>ADD EMBLEMS</h6>
        </a>
      </div>
    </div>
    <div class="edit-collection">
      <ul>
        <li><a class="lightbox" data-link="url" data-type="ajax" data-src="/templates/modals/modal-url.html" href="javascript:;">COPY COLLECTION URL</a></li>
        <li><a class="lightbox" data-link="delete" data-type="ajax" data-src="/templates/modals/modal-delete.html" href="javascript:;">DELETE COLLECTION</a></li>
      </ul>
    </div>
  </div>
  <div class="image-collection"></div>
</div>