<div class="lightbox">
  <div class="popup choose-emblems">
    <div class="collection-detail">
      <h3>Add to Collection</h3>
      <ul class="image-list">
        <li>
          <div class="img-holder" data-emblem-id="1">
            <a href="#"><img src="/images/emblems/320/emblem01.320.jpg" alt="Emblem 01 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 1</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="2">
            <a href="#"><img src="/images/emblems/320/emblem02.320.jpg" alt="Emblem 02 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 2</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="3">
            <a href="#"><img src="/images/emblems/320/emblem03.320.jpg" alt="Emblem 03 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 3</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="4">
            <a href="#"><img src="/images/emblems/320/emblem04.320.jpg" alt="Emblem 04 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 4</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="5">
            <a href="#"><img src="/images/emblems/320/emblem05.320.jpg" alt="Emblem 05 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 5</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="6">
            <a href="#"><img src="/images/emblems/320/emblem06.320.jpg" alt="Emblem 06 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 6</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="7">
            <a href="#"><img src="/images/emblems/320/emblem07.320.jpg" alt="Emblem 07 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 7</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="8">
            <a href="#"><img src="/images/emblems/320/emblem08.320.jpg" alt="Emblem 08 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 8</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="9">
            <a href="#"><img src="/images/emblems/320/emblem09.320.jpg" alt="Emblem 09 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 9</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="10">
            <a href="#"><img src="/images/emblems/320/emblem10.320.jpg" alt="Emblem 10 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 10</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="11">
            <a href="#"><img src="/images/emblems/320/emblem11.320.jpg" alt="Emblem 11 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 11</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="12">
            <a href="#"><img src="/images/emblems/320/emblem12.320.jpg" alt="Emblem 12 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 12</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="13">
            <a href="#"><img src="/images/emblems/320/emblem13.320.jpg" alt="Emblem 13 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 13</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="14">
            <a href="#"><img src="/images/emblems/320/emblem14.320.jpg" alt="Emblem 14 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 14</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="15">
            <a href="#"><img src="/images/emblems/320/emblem15.320.jpg" alt="Emblem 15 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 15</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="16">
            <a href="#"><img src="/images/emblems/320/emblem16.320.jpg" alt="Emblem 16 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 16</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="17">
            <a href="#"><img src="/images/emblems/320/emblem17.320.jpg" alt="Emblem 17 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 17</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="18">
            <a href="#"><img src="/images/emblems/320/emblem18.320.jpg" alt="Emblem 18 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 18</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="19">
            <a href="#"><img src="/images/emblems/320/emblem19.320.jpg" alt="Emblem 19 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 19</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="20">
            <a href="#"><img src="/images/emblems/320/emblem20.320.jpg" alt="Emblem 20 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 20</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="21">
            <a href="#"><img src="/images/emblems/320/emblem21.320.jpg" alt="Emblem 21 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 21</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="22">
            <a href="#"><img src="/images/emblems/320/emblem22.320.jpg" alt="Emblem 22 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 22</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="23">
            <a href="#"><img src="/images/emblems/320/emblem23.320.jpg" alt="Emblem 23 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 23</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="24">
            <a href="#"><img src="/images/emblems/320/emblem24.320.jpg" alt="Emblem 24 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 24</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="25">
            <a href="#"><img src="/images/emblems/320/emblem25.320.jpg" alt="Emblem 25 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 25</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="26">
            <a href="#"><img src="/images/emblems/320/emblem26.320.jpg" alt="Emblem 26 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 26</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="27">
            <a href="#"><img src="/images/emblems/320/emblem27.320.jpg" alt="Emblem 27 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 27</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="28">
            <a href="#"><img src="/images/emblems/320/emblem28.320.jpg" alt="Emblem 28 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 28</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="29">
            <a href="#"><img src="/images/emblems/320/emblem29.320.jpg" alt="Emblem 29 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 29</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="30">
            <a href="#"><img src="/images/emblems/320/emblem30.320.jpg" alt="Emblem 30 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 30</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="31">
            <a href="#"><img src="/images/emblems/320/emblem31.320.jpg" alt="Emblem 31 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 31</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="32">
            <a href="#"><img src="/images/emblems/320/emblem32.320.jpg" alt="Emblem 32 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 32</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="33">
            <a href="#"><img src="/images/emblems/320/emblem33.320.jpg" alt="Emblem 33 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 33</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="34">
            <a href="#"><img src="/images/emblems/320/emblem34.320.jpg" alt="Emblem 34 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 34</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="35">
            <a href="#"><img src="/images/emblems/320/emblem35.320.jpg" alt="Emblem 35 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 35</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="36">
            <a href="#"><img src="/images/emblems/320/emblem36.320.jpg" alt="Emblem 36 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 36</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="37">
            <a href="#"><img src="/images/emblems/320/emblem37.320.jpg" alt="Emblem 37 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 37</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="38">
            <a href="#"><img src="/images/emblems/320/emblem38.320.jpg" alt="Emblem 38 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 38</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="39">
            <a href="#"><img src="/images/emblems/320/emblem39.320.jpg" alt="Emblem 39 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 39</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="40">
            <a href="#"><img src="/images/emblems/320/emblem40.320.jpg" alt="Emblem 40 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 40</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="41">
            <a href="#"><img src="/images/emblems/320/emblem41.320.jpg" alt="Emblem 41 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 41</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="42">
            <a href="#"><img src="/images/emblems/320/emblem42.320.jpg" alt="Emblem 42 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 42</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="43">
            <a href="#"><img src="/images/emblems/320/emblem43.320.jpg" alt="Emblem 43 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 43</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="44">
            <a href="#"><img src="/images/emblems/320/emblem44.320.jpg" alt="Emblem 44 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 44</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="45">
            <a href="#"><img src="/images/emblems/320/emblem45.320.jpg" alt="Emblem 45 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 45</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="45">
            <a href="#"><img src="/images/emblems/320/emblem46.320.jpg" alt="Emblem 46 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 46</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="47">
            <a href="#"><img src="/images/emblems/320/emblem47.320.jpg" alt="Emblem 47 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 47</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="48">
            <a href="#"><img src="/images/emblems/320/emblem48.320.jpg" alt="Emblem 48 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 48</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="49">
            <a href="#"><img src="/images/emblems/320/emblem49.320.jpg" alt="Emblem 49 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 49</span>
        </li>
        <li>
          <div class="img-holder" data-emblem-id="50">
            <a href="#"><img src="/images/emblems/320/emblem50.320.jpg" alt="Emblem 50 thumbnail image"></a>
          </div>
          <span class="caption">Emblem 50</span>
        </li>
      </ul>
      <a class="add-link" href="#">
        <span class="link-active">+ Add selected emblems</span>
        <span class="link-disabled">Please select emblems above</span>
      </a>
    </div>
  </div>
</div>