<div class="lightbox">
  <div class="popup delete-collections">
    <div class="collection-detail">
      <span class="title">Are you sure you would like to delete this
        collection? <span>This cannot be undone.</span>
      </span>
      <div class="options">
        <a href="#" class="option1" data-link="confirm">Yes, delete <span class="collection-to-remove"></span></a>
        <a href="#" class="option2" data-fancybox-close="">Cancel</a>
      </div>
    </div>
  </div>
</div>