<div class="lightbox">
  <div class="popup choose-collections">
    <div class="collection-detail">
      <h3>Add to collection</h3>
      <div class="collection-wrap">
        <div class="img-holder">
          <img src="" alt="image-description">
          <span class="image-name"></span>
        </div>
        <div class="details">
          <h6>CHOOSE A COLLECTION</h6>
          <ul class="collection-list"></ul>
          <a class="lightbox create" data-link="create" data-type="ajax" href="/templates/modals/modal-create.html"> + Create a new collection</a>
        </div>
      </div>
    </div>
  </div>
</div>