<section class="facsimile is-hidden">
	<div id="openseadragon-wrapper">
		<div id="tools">
			<span>
				<a id="zoom-in" href="#zoom-in" title="Zoom In" style="display: inline-block; position: relative">Zoom In</a>
				<a id="zoom-out" href="#zoom-out" title="Zoom Out" style="display: inline-block; position: relative">Zoom Out</a>
				<a id="previous" href="#previous" title="Previous" style="display: inline-block; position: relative">Previous</a>
				<a id="next" href="#next" title="Next" style="display: inline-block; position: relative">Next</a>
			</span>
		</div>
	</div>
</section>